@model IEnumerable<WebAppTilausDB.Models.Tuotteet>

@{
    ViewBag.Title = "Index";
}

<br />
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TuoteID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nimi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ahinta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageLink)
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TuoteID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nimi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ahinta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageLink)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.TuoteID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.TuoteID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.TuoteID })
                </td>
            </tr>
        }

    </tbody>
</table>



